.footer {
    background-color: #353535;
    color:white;
    padding: 10px 20px;
        
    h1 {
        font-size: 19px;
        font-weight: 400;
    }
    ul {
        list-style-type: none;
        padding-left: 0; 
    }
    li {
        margin-bottom: 10px 
    }
    i {
        margin-right: 12px;
    }

    .fa-handshake-angle {
        margin-right: 5px;
    }
    a {
        color: white;
        text-decoration: none;
    }

}