.logo-head {
    display: flex;
    justify-content: center;  
    border-bottom: $brd $colour-quinquennial;
    padding-bottom: 10px; 
     &__img{
        width:40%;
        font-family: 'Shrikhand', cursive;
        @media screen and (min-width: 840px) {
            width: 20%;
        }
    }

    @media screen and (min-width: 920px) {
        justify-content: center;
    }


}

/* Pour les 4 Menus */

.logo-head__arrow {
    position:relative;
    right: 26%;
    font-size: 30px;
    a{
        color: black;
    }
    @media screen and (min-width: 620px) {
        font-size: 40px;
        margin-right: 15px;
    }
    @media screen and (min-width: 840px) {

        right: 36%;
    }
    @media screen and (min-width: 920px) {
        
    }
}

.head-wallpaper {
    width: 100%;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    @media screen and (min-width: 660px) {
        height: 320px;
    }
    @media screen and (min-width: 920px) {
        height: 350px;
    }
}