$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-quaternary: #eaeaea;
$colour-quinquennial: #F7F7F7;
$colour-six: #ffffff;
$brd: 2px solid;
$size-bloc-txt: 70%;
