/* Contient le style standard de certains éléments HTML couremment utilisé*/
h1{
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
}

*{
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif; 
    max-width: 1400px;
       
}